@media (max-width: 614px) {
  .page {
    display: flex;
    margin-top: 90px;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #293845;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    height: 50px;
    width: 100vw;
  }

  .poster {
    width: 130px;
    height: 195px;
    margin: 10px 10px;
  }

  .poster img {
    width: 130px;
    height: 195px;
  }

  .screening {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: center;
  }
}
