@media (max-width: 614px) {
  .page-title {
    width: 100vw;
    height: 67px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e8833a;
    background-color: #c3cfd9;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
  }

  .page {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
  }
}
